/* Navbar.css */

.appbar {
  /* max-width: 1440px; */
  width: 100%;
  padding-top: 50px;
  box-shadow: 0;
  background-color: transparent;
  z-index: 9999;
  border: none;
}


.toolbar {
  display: flex;
  align-items: center;
  height: 56px;
  justify-content: center;
}
.dropdownContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.drawerContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 40px;
}

.logoContainer {
  width: 242px;
  height: 72px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoText {
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  line-height: 30px;
  word-wrap: break-word;
}

.nav {
  padding: 0 30px;
  width: 800px;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  color: #adadad;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 24px */
}
.arrowdown-icon{
  /* border: 1px solid red; */
  margin-left: 4px;
  height: 25px;
}
.nav-item {
  position: relative;
  cursor: pointer;
  height: 60px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ADADAD;

}

.nav-item.apply{
  color: white;
}


.triangle {
  position: absolute;
  z-index: -1;
  top: -7.5px;
  left: 50px;
  list-style: none;
  border: 0.2px solid rgba(50, 50, 50, 0.7);
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
  background-color:#101010;
stroke-width: 0.1px;
stroke: rgba(112, 112, 112, 0.70);
box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.14) inset;
 
 
}


.menuitem {

  padding: 24px;
  align-items: flex-start;
  align-self: stretch;
  position: absolute;
  top: 55px;
  left: -20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 16px;
  border: 0.1px solid rgba(50, 50, 50, 0.7);
  background: linear-gradient(
      142deg,
      rgba(255, 255, 255, 0.01) 2.63%,
      rgba(255, 255, 255, 0.01) 98.96%
    ),
    #101010;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.14) inset;
}

.tabsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tab-content {
  /* border: 1px solid red; */
  /* height: 70px; */
  overflow: visible;
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.dropdownMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  position: absolute;
  top: 85%;
  width: 578px;
  height: fit-content;
  padding: 24px;
  background-color: #101010;
  z-index: 999;
  border-radius: 16px;
  border: 0.1px solid rgba(112, 112, 112, 0.7);
  background: linear-gradient(
      142deg,
      rgba(255, 255, 255, 0.01) 2.63%,
      rgba(255, 255, 255, 0.01) 98.96%
    ),
    #101010;
  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.14) inset;
}

.dropdownItem {
  flex-shrink: 0;
  width: 250px;
  color: white;
  font-size: 16px;
  font-family: Inter, sans-serif;

  line-height: 24px;
  word-wrap: break-word;
  padding: 0 10px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  cursor: pointer;
  text-decoration: none;
}

.contactButton {
  font-weight: bold;
  border-radius: 16px;
  width: 178px;
  height: 56px;
  font-size: 18px;
}

.tabStyles {
  width: 800px;
  padding-left: 40px;
  align-items: center;
  border: 1px solid red;
}

.tabRoot {
  color: #fff;
  font-weight: bold;
  font-family: Poppins, sans-serif;
  text-transform: capitalize;
  font-size: 16px;
  margin-right: 6px;
  padding-bottom: 10px;
}

.tabSelected {
  color: #117dcc;
}
