.container-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../assets/imageFiles/bg1.png');
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent;
    margin-top: -7.5%;

  }
  
  @media (max-width: 1600px) {
    .container-box {
      margin-top: -9%;

    }
  }
  
  @media (max-width: 1280px) {
    .container-box {
      margin-top: -12%;
    }
  }
  
  @media (max-width: 600px) {
    .container-box {
      margin-top: -29.5%;

    }
  }
  
  .content-box {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


  /*HERO SECTION CSS */

  .texttospeech {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-bottom: 197px;

  }

  .boxone {
    width: 100%;
    height: 116px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    /* border: 1px solid red; */
  }

  .boxone .box-inner {
    align-self: stretch;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  .text-typo {
    position: relative;
    text-align: center;
    color: #F9F9F9;
    word-wrap: break-word;
  }


  .speechGenrerate{
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00000027;
    padding-top: 2%;
    margin-bottom: 50px;
  }

  .speechGenrerate .box-inner {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    height: fit-content;
    width: 100%;
    gap: 54px;
    max-width: 1200px;
  }


  .inner-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }

  .box-main {
    width: 100%;
    display: flex;
    gap: 10px;
  }
  
  .textcontainer{
    border: 0.20px rgba(112, 112, 112, 0.70) solid;
    border-radius: 16px;
    height: 100%;
    padding: 24px 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .box-bottom {
    margin-bottom: 32px;
    width: 100%;
    height: 32px;
    display: flex;
    gap: 1;
    align-items: center;
  }

  .box-gradient2 {
    height: 100%;
    padding: 32px 16px;
    background: linear-gradient(0deg, #101010 0%, #101010 100%), linear-gradient(142deg, #ffffff1a 0%, #ffffff1a 100%);
    box-shadow: 0px 0px 0px #ffffff01 inset;
    border-radius: 16px;
    overflow: hidden;
    border: 0.20px #70707070 solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 56px;
    
  }

  .box-large {
    width: 100%;
    height: 221px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    
  }
  

  .innerContent2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

  }

  .configurebox{
    width: 100%;
    height: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

  }

  .selectLang{
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
  }

  .speaker{
    width: 100%;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start ;
    align-items: flex-start;
    gap: 8px;
  }

  .elements{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    height: 23px;
    background-color: #ffffff30;
    border-radius: 4px;
  }

  .generate-speech{
    color: white;
    width: 100%;
    padding: 16px 14px;
  }


  .box-gradient-inline {
    width: 100%;
    margin-top: -70px;
    height: 72px;
    padding: 8px 24px;
    background: linear-gradient(0deg, #101010 0%, #101010 100%), linear-gradient(142deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 100%);
    border-radius: 16px;
    overflow: hidden;
    border: 0.20px #707070 solid;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  


  .innergradient{
    flex: 1 1 0;
    height: 56;
    justify-content: flex-start;
    align-items: center;
    gap: 3
    ;
    display: flex;
  }

  .inputcontainer{
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1;
    display: inline-flex;
  }

  .values{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }